@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Delicious+Handrawn&family=Raleway:ital,wght@0,300;0,400;1,500&display=swap');
:root {
    --color-fresa: #FB6966;
    --color-rosita: #FCB3AC;
    --color-rarito: #E0653B;
    --color-babyrosa: #FBD1C7;
    --color-hojita: #C1BB41;
    --color-blanco: #fff;
    --color-negro: #000;
    --color-limon: #BEDCB6;
}
* {
    scroll-behavior: smooth;
}
body {
    background-color: var(--color-limon);
    padding: 50px;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/* Encabezado de la página */
.header{
    display: flex;
    align-items:center;
    width: 100%;
    padding: 2px 25px;
    background-color: var(--color-limon);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Logo */
.header .logo{
    margin-left: 20px;
    width: 70px;
    padding-top: 3px;
}

/* Icono del menú */
.header a i{
    color: var(--color-fresa);
    font-size: 2.6rem;
    cursor: pointer;
}
.nav{
    width: 300px;
}

/* sección del menú */
aside{
    background-color: var(--color-blanco);
    width: 250px;
    top: 0;
    left: 0;
    bottom:0;
    overflow-y: hidden;
    margin-top: 67px;
    transition: 0.5s;
    position: fixed;
    z-index: 2;
}
aside:hover{
    overflow-y: auto;
}
/* Clase funcional en JS */
.desplegar{
    transform: translateX(-100%);
}
/* Personalizar el scroll */
aside::-webkit-scrollbar{
    width: 8px;
}
aside::-webkit-scrollbar-thumb{
    border-radius: 5px;
}
.list{
    justify-content: center;
    flex-direction: column;
    margin-top: 18px;
}
.list__item{
    list-style: none;
    width: 100%;
    overflow: hidden;
}
.list__item--click{
    cursor: pointer;
}
.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.bx{
    color: var(--color-fresa);
    font-size: 27px;
}
.nav__link{
    color: var(--color-hojita);
    display: block;
    padding: 15px 0;
    font-family: 'Delicious Handrawn', cursive;
    text-decoration: none;
    font-size: 25px;
}
.nav__link--inside{
    border-radius: 6px ;
    padding-left: 20px;
    text-align: left;
}
.nav__link--inside:hover{
    background: var(--color-babyrosa);
}

.arrow .list__arrow{
    transform: rotate(90deg);
}
.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}
.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid var(--color-fresa);
    list-style: none;
    transition: height .4s;
    height: 0;
}
i{
    font-size: 22px;
}

.sections{
    background: var(--color-limon);
}
.main-text {
    text-align: center;
    
}
.main-text h2 {
    font-size: 50px;
    line-height: 1;
    color: var(--color-rarito);
    font-family: 'Delicious Handrawn', cursive;
}
h3{
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}

/* Pie de página */
.pie-pagina{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    text-align: center;
}

@media only screen and (max-width: 600px) and (min-width: 400px)  {
    .header .logo{
        width: 60px;
    }
    
    .header a i{
        font-size: 2.3rem;
        cursor: pointer;
    }

    .bx{
        font-size: 22px;
    }

    .nav__link{
        font-size: 22px;
    }

    .main-text h2 {
        font-size: 40px;
    }
    h3{
        font-size: 1rem;
    }
}