@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Delicious+Handrawn&family=Raleway:ital,wght@0,300;0,400;1,500&display=swap');
:root {
    --color-fresa: #FB6966;
    --color-rosita: #FCB3AC;
    --color-rarito: #E0653B;
    --color-babyrosa: #FBD1C7;
    --color-hojita: #C1BB41;
    --color-blanco: #fff;
    --color-negro: #000;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

* {
    scroll-behavior: smooth;
}
body {
    background-color: var(--color-babyrosa);
    padding: 20px;
    
}

.header{
    background-color: var(--color-babyrosa);
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
/* Logo */
.header .logo{
    font-size: 50px;
    padding: 1px 50px;
    height: 68px;
}
/* Icono del menú */
.header a i{
    color: #000;
    font-size: 3rem;
    padding: 1px 50px;
    height: 648px;
    cursor: pointer;
}
.nav{
    width: 300px;
}

.nav__link{
    color: var(--color-fresa);
    display: block;
    padding: 15px 0;
    font-family: 'Delicious Handrawn', cursive;
    text-decoration: none;
    font-size: 25px;
}

.nav__link--inside{
    border-radius: 6px ;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover{
    background: var(--color-hojita);
}
/* sección del menú */
aside{
    background-color: var(--color-rosita);
    width: 250px;
    top: 0;
    left: 0;
    bottom:0;
    overflow-y: hidden;
    margin-top: 67px;
    transition: 0.5s;
    position: fixed;
}
aside:hover{
    overflow-y: auto;
}
/* Clase funcional en JS */
.desplegar{
    transform: translateX(-100%);
}
/* Personalizar el scroll */
aside::-webkit-scrollbar{
    width: 8px;
}
aside::-webkit-scrollbar-thumb{
    border-radius: 5px;
}

.list{
    justify-content: center;
    flex-direction: column;
    margin-top: 18px;
}

.list__item{
    list-style: none;
    width: 100%;
    overflow: hidden;
}

.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}
.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid var(--color-hojita);
    list-style: none;
    transition: height .4s;
    height: 0;
}
i{
    font-size: 22px;
}
.icon {
	cursor: pointer;
	margin-right: 200px;
	line-height: 600px;

}
.icon span {
	background: #f00;
	padding: 3px;
	border-radius: 50%;
	color: #fff;
	vertical-align: top;
	margin-left: -25px;
}
.icon img {
	display: inline-block;
	width: 40px;
	margin-top: 10px;
}
.icon:hover {
	opacity: .7;
}

.recetas-destacadas{
    background: var(--color-babyrosa);
}
.main-text {
    text-align: center;
    
}
.main-text p {
    color: var(--color-blanco);
    font-size: 15px;
    margin-bottom: 15px;
}
.main-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
    color: var(--color-hojita);
    font-family: 'Delicious Handrawn', cursive;
}
.destacadas-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.box {
    background: var(--color-blanco);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}
.box h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-fresa);
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Alkatra', cursive;

}
.box ul{
    color: var(--color-negro);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif;
}
.box p{
    color: var(--color-hojita);
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 25px;
    font-weight: bold;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.imagen{
    height: 190px;
    
}
.box:hover {
    transform: translateY(-8px);
    cursor: pointer;
}